.profile__avatar {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
}

.profile__button-avatar {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
  border: 0;
  padding: 0;
  transition: 0.3s;
}



.profile__button-avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.profile__button-avatar:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-image: url(../../../images/handle.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

@media (max-width: 1040px) {
  .profile__avatar {
    margin: auto;
    grid-area: foto;
  }
}
